* {

	&::selection {
		background: rgba(black, .1);
	}
}

[data-cms-enabled] {
	cursor: default;

	[contenteditable] {

		cursor: text;
		border-bottom: 1px transparent dashed;

		&::selection {
			background: rgba(mix($color-accent-alpha, white), .5);
		}

		&:hover,
		&:focus {
			border-color: rgba(black, .25);
		}

		&:focus {
			outline: none;
		}

		&:after {
			content: '';
			transition: opacity .4s;
			opacity: 0;
		}

		&:empty:after {
			content: attr(data-cms-placeholder);
			text-transform: capitalize;
			opacity: .3;
		}

		&:focus:empty:after {
			opacity: .1;
		}
	}

	span[contenteditable] {
		display: inline-block;
	}

	[data-cms-id] {
		transition: border-color .2s;
	}

	[data-cms-id] [data-cms-deletable]:after {
		content: 'Press backspace again to delete';
		opacity: .66;
	}

	[data-cms-collection] {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			opacity: 0;
			top: 0;
			bottom: 0;
			left: -1rem;
			transition: opacity .2s;
		}

		&:hover:before {
			opacity: 1;
		}
	}

	[data-cms-dragging] {
		position: relative;
		z-index: 9999999;
		opacity: .4;
		transition: opacity .5s .25s ease-in;
	}

	[data-cms-collection] {
		position: relative;

		[data-cms-droparea] {
			position: absolute;
			top: calc(-.5em - 1px);
			left: 0;
			width: 100%;
			height: 2px;
			z-index: 9999998;
			background: $color-accent-alpha;
			opacity: 0;
			transition: opacity .25s .25s ease-in;
		}

	}

	[data-cms-property=markdown] {
		margin-bottom: 1em;
	}

	.c-collection {
		opacity: .33;
		transition: opacity 2s;
		overflow: hidden;
		margin-bottom: 3em;

		&:hover {
			opacity: 1;
			transition: opacity .2s;
		}

		> :last-child {
			margin-bottom: 0;
		}

		button, select {
			font-size: 1rem;
			padding: 0 1em;
			border: 0;
			height: 1.8em;
			line-height: 1.8em;
			border-radius: 0;
		}

		button {
			color: white;
			background-color: $color-accent-alpha;
			box-shadow: inset 0 -2px rgba(black, .2);
			cursor: pointer;
			outline: none;

			&:active {
				background-color: mix($color-accent-alpha, black, 90);
			}
		}

		select {
			appearance: none;
			background-color: white;
			box-shadow: inset 0 0 1px rgba(black, .5);

		}
	}

	* + .c-collection {
		margin-top: 1em;
	}

	.c-cms-meta-list {

		&:before,
		&:after {
			content: '';
			display: block;
			clear: both;
		}

		dt {
			@include sans-bold;
			width: 6em;
			float: left;
			clear: both;
		}

		dd {
			width: calc(100% - 6em);
			float: right;
			margin: 0;
		}

		dt, dd {
			margin-bottom: .5em;
		}

	}

}

[data-module="cms/Cms"]:not([data-cms-enabled]) {

	[data-cms-only] {
		display: none;
	}

}