@mixin serif() {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 400;
}

@mixin serif-black() {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 900;
}

@mixin sans() {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
}

@mixin sans-bold() {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 700;
}

@mixin sans-black() {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 900;
}

@mixin sans-light() {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
}

@mixin title() {
	@include serif-black;
}

@mixin sans-large() {
	@include sans-light;
}

@function rem($pixels) {
	@return $pixels / $base-fontsize * 1rem;
}

@function em($pixels) {
	@return $pixels / $base-fontsize * 1em;
}

body {
	@include sans;
	color: $color-text;
	font-size: calc(1em + .8vmin);

	@media (min-width: $breakpoint-xl) {
		font-size: 2em;
	}
}

.sans {
	@include sans;
}

h1,
.sans-black {
	@include serif-black;
}

h2 {
	@include sans-black;
}

h3, h4, h5, h6 {
	@include sans-bold;
}

strong {
	@include sans-bold;
}

.title {
	@include title;
	font-size: calc(#{em(40px)} + 1.5vmin);
	margin: 0;
	color: inherit;

	+ * {
		margin-top: rem(30px);
	}

	+ .sub-title {
		margin-top: rem(8px);
	}

	@media (min-width: 25em) {
		font-size: calc(#{em(60px)} + 1.5vmin);
	}
}

.t-site-title {
	@include sans-bold;
	color: $color-tinted-light;
	font-size: 1.25em;
}

h1 {
	font-size: em(40px);
	color: $color-heading;

	+ * {
		margin-top: rem(24px);
	}

	+ .sub-title {
		margin-top: rem(8px);
	}
}

h2, .subtitle {
	font-size: em(30px);

	+ * {
		margin-top: rem(20px);
	}
}

h1, h2 {
	line-height: 1.05;
}

h3 {
	font-size: em(24px);
}

h4, h5, h6 {
	font-size: em(20px);
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 1.5em;
	margin-bottom: .66em;
	color: $color-heading-lighter;
}

pre, table, blockquote {
	margin-top: $margin-m;
	margin-bottom: $margin-m;
}

code {
	font-family: monospace;
	font-size: .8em;
	line-height: 1;

	.token {
		line-height: 1.45;
	}
}

a {
	position: relative;
	text-decoration: none;
	color: $color-accent-alpha;

	&[rel='me'] {
		color: $color-twitter;
	}
}

.icon {

	&-inline {
		height: 1em;
		width: auto;
		vertical-align: middle;
		transform: translateY(-1px);
	}
}

.content {
	line-height: 1.55;
}