<meta charset="UTF-8">
<title>Peeke.nl</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="manifest" href="/manifest.json">
<link rel="stylesheet" href="{{ hashedpath '/css/main.css' }}">
<link rel="preconnect" href="https://cdnjs.cloudflare.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preload" href="https://cdn.polyfill.io/v2/polyfill.min.js" as="script">
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.20.12/system.js" as="script">

<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57.png"/>
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114.png"/>
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72.png"/>
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png"/>
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/apple-touch-icon-60x60.png"/>
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-120x120.png"/>
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/apple-touch-icon-76x76.png"/>
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png"/>
<link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196"/>
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96"/>
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16"/>
<link rel="icon" type="image/png" href="/favicon-128.png" sizes="128x128"/>
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF"/>
<meta name="msapplication-TileImage" content="/mstile-144x144.png"/>
<meta name="msapplication-square70x70logo" content="/mstile-70x70.png"/>
<meta name="msapplication-square150x150logo" content="/mstile-150x150.png"/>
<meta name="msapplication-wide310x150logo" content="/mstile-310x150.png"/>
<meta name="msapplication-square310x310logo" content="/mstile-310x310.png"/>
<meta name="theme-color" content="#FFFFFF">

<link rel="alternate" type="application/rss+xml" title="Subscribe to What's New" href="https://peeke.nl/rss" />
<link rel="webmention" href="https://webmention.io/peeke.nl/webmention" />
<link rel="feed" href="/">

<script>
    document.documentElement.className = 'has-js'
</script>