
{{#if @production }}{{#unless @loggedin }}
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date()
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]
            a.async = 1
            a.src = g
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga')

        ga('create', 'UA-13178611-15', 'auto')
        ga('send', 'pageview')
    </script>
{{/unless }}{{/if}}

<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.20.12/system.js"></script>

<script>

    window.moduleGraph = {{{ json moduleGraph }}}

    function urlBase64ToUint8Array (base64String) {
        const padding = '='.repeat((4 - base64String.length % 4) % 4)
        const base64 = (base64String + padding)
                .replace(/\-/g, '+')
                .replace(/_/g, '/')

        const rawData = window.atob(base64)
        const outputArray = new Uint8Array(rawData.length)

        for (var i = 0; i < rawData.length; ++i) {
            outputArray[i] = rawData.charCodeAt(i)
        }
        return outputArray
    }

    window.vapidPublicKey = urlBase64ToUint8Array('{{{ vapidPublicKey }}}')

    var moduleHashes = {{{ json moduleHashes }}}
    var paths = moduleHashes.reduce(function (r, o) {
        r[o.path] = o.path + '.js?hash=' + o.hash
        return r
    }, {})

    System.defaultJSExtension = false
    System.config({paths: paths, baseURL: '/js/'})

    System.import('loader.js?hash={{ hash '/js/loader.js' }}').then(function (loader) {

        loader.default.parse(document.documentElement)

        var shouldRegister = 'serviceWorker' in navigator
//        shouldRegister && navigator.serviceWorker.register('/sw.js').catch(console.log)

    })

</script>

<!-- env: {{ env }} -->