<figure data-cms-id='{{ id }}' data-cms-type='{{ type }}' class='c-blockquote {{ size }}'>
    <blockquote data-cms-property='text' data-cms-placeholder='Blockquote'>{{ text }}</blockquote>
    <figcaption data-cms-property='source' data-cms-placeholder='Source'>{{ source }}</figcaption>
</figure>