<!-- client: editableCode -> body -->
<pre data-cms-id='{{ id }}'
     data-cms-type='{{ type }}'
     data-cms-property='code'
     data-cms-placeholder='foo = { bar: true };'
     data-cms-allow-breaks='true'
     data-cms-allow-tabs='true'
     data-editable-element='code'><code class="language-javascript">{{{ editableCode }}}</code></pre>