<form action='' data-cms-only class='c-collection'>

    <select name='type'>
        <option disabled selected>Type</option>
        {{# each allowedTypes }}
            <option value='{{ this }}'>{{ this }}</option>
        {{/ each }}
    </select>

    <button>Add component</button>

</form>