<div data-cms-id='{{ id }}' data-cms-type='{{ type }}'>

    <!-- cms-only -->
    <div class="c-cms-popup" aria-hidden="true" data-module="cms/Popup" data-trigger=".popup-trigger-{{ id }}">
        <dl data-cms-only class='c-cms-meta-list'>
            <dt>Domain</dt>
            <dd data-cms-property='domain' data-cms-placeholder='0, 1'>{{ domain }}</dd>
            <dt>Domain label</dt>
            <dd data-cms-property='domainLabel' data-cms-placeholder='input'>{{ domainLabel }}</dd>
            <dt>Range</dt>
            <dd data-cms-property='range' data-cms-placeholder='0, 1'>{{ range }}</dd>
            <dt>Range label</dt>
            <dd data-cms-property='rangeLabel' data-cms-placeholder='output'>{{ rangeLabel }}</dd>
            <dt>Functions</dt>
            <dd>
                <div data-cms-property='fns' data-cms-placeholder='input' placeholder="Newline seperated expressions"
                     data-allow-breaks>{{{ fns }}}</div>
            </dd>
            <dt>Resolution</dt>
            <dd data-cms-property='resolution' data-cms-placeholder='2'>{{ resolution }}</dd>
            <dt>Animated</dt>
            <dd><input data-cms-property='animated' type='checkbox' value='true' {{#if animated }} checked {{/if}}></dd>
            <dt>Has legend</dt>
            <dd><input data-cms-property='legend' type='checkbox' value='true' {{#if legend }} checked {{/if}}></dd>
            <dt>Lowlight color</dt>
            <dd data-cms-property='lowlight' data-cms-placeholder='#999'>{{ lowlight }}</dd>
            <dt>Ruler color</dt>
            <dd data-cms-property='ruler' data-cms-placeholder=''>{{ ruler }}</dd>
            <dt>Colors</dt>
            <dd data-cms-property='colors'
                data-cms-placeholder='Comma seperated colors. Default: #ddd'>{{ colors }}</dd>
        </dl>

        <button class="c-cms-popup-close btn-reset popup-trigger-{{ id }}" data-module="cms/Reload"
                data-area="#c-graph-{{ id }}">&times;
        </button>

    </div>

    <!-- !cms-only -->

    <figure id="c-graph-{{ id }}" class="c-graph"
            data-module="ui/graph/Graph"
            {{# domain }}data-domain="{{ this }}"{{/domain}}
        {{# domainLabel }}data-domain-label="{{ this }}"{{/domainLabel}}
        {{# range }}data-range="{{ this }}"{{/range}}
        {{# rangeLabel }}data-range-label="{{ this }}"{{/rangeLabel}}
        {{# fns }}data-fns="{{{ this }}}"{{/fns}}
        {{# ruler }}data-ruler="{{ this }}"{{/ruler}}
        {{# colors }}data-colors="{{ this }}"{{/colors}}
            data-legend="{{#if legend }}true{{ else }}false{{/if }}"
            data-animated="{{#if animated }}true{{ else }}false{{/if }}"
            data-inputs="#inputs-{{ id }} input"></figure>

    <!-- cms-only -->
    <button class="btn-reset popup-trigger-{{ id }}">&#9881;&nbsp;&nbsp;aanpassen</button>
    <!-- !cms-only -->

    <div id="inputs-{{ id }}"{{#unless @loggedin }}class="c-graph-inputs"{{/unless}} data-cms-property='inputs'
         data-cms-value='{{ refs inputs }}' data-cms-collection data-cms-allowed-types="Input">
        {{# each inputs }}

            {{#if @loggedin }}
                {{> (resolve this "components") }}
            {{ else }}
                {{> (resolve this "client_components") }}
            {{/if }}

        {{/ each }}
    </div>
</div>
