<div data-cms-id='{{ id }}' data-cms-type='{{ type }}'>

    <!-- cms-only -->
    <div class="c-cms-popup" aria-hidden="true" data-module="cms/Popup" data-trigger=".popup-trigger-{{ id }}">
        <button class="c-cms-popup-close btn-reset popup-trigger-{{ id }}" data-module="cms/Reload"
                data-area="#form-item-{{ id }}">&times;
        </button>

        <dl data-cms-id="{{ id }}" data-cms-type='{{ type }}' data-cms-only class='c-cms-meta-list'>
            <dt>Type</dt>
            <dd data-cms-property='inputType' data-cms-placeholder='Type'>{{ inputType }}</dd>
            <dt>Name</dt>
            <dd data-cms-property='name' data-cms-placeholder='Name'>{{ name }}</dd>
            <dt>Attributes</dt>
            <dd data-cms-property='attributes' data-cms-placeholder='attribute="value"'>{{ attributes }}</dd>
            <dt>Value</dt>
            <dd data-cms-property='value' data-cms-placeholder='Value'>{{ value }}</dd>
        </dl>

    </div>

    <!-- !cms-only -->

    <div id="form-item-{{ id }}" class="form-item">
        <label for="{{ id }}">{{ name }}</label>
        <input id={{ id }} type="{{ inputType }}" name="{{ name }}" {{{ attributes }}} value="{{ value }}">
    </div>

    <!-- cms-only -->
    <button class="btn-reset popup-trigger-{{ id }}">&#9881;&nbsp;&nbsp;aanpassen</button>
    <!-- !cms-only -->

</div>
