<!-- client: editableMarkdown -> body -->
<div data-cms-id='{{ id }}' data-cms-type='{{ type }}' data-cms-property='markdown' data-cms-placeholder='Markdown text'
     data-cms-allow-breaks='true'>{{{ editableMarkdown }}}</div>