<article class="c-tweet">
    <h1 class="c-tweet-heading">
        <a href="https://twitter.com/peeke91/status/{{ tweetId }}">
            {{#if retweet }}<span class="c-tweet-heading-retweet">RT: </span>{{/if}}{{ authorName }}
        </a>
    </h1>
    <p>
        {{{ body }}}
    </p>
</article>