* {
	order: 10;
	box-sizing: border-box;
}

p {
	text-overflow: ellipsis;
	overflow: hidden;
}

body {

	&:before {
		content: '';
		display: block;
		position: absolute;
		z-index: -1;
		height: 66.66vm;
		height: 66.66vmin;
		width: 66.66vm;
		width: 66.66vmin;
		border: 1px solid $color-tinted-light;
		top: 50vh;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
		border-radius: 50%;
	}

	&.t-templates-index:before {
		position: fixed;
	}
}

main {
	padding: 1px 0;
	min-height: calc(100vh - #{ $margin-s });
}

[hidden] {
	display: none;
}

.site-title {
	display: flex;
	align-items: center;
	width: 100%;
	font-size: rem(16px);
	height: rem(16px);
	margin-bottom: rem(-8px);
	color: $color-tinted-dark;

	span {
		flex-shrink: 0;
		margin: 0 1rem;
	}

	&:before,
	&:after {
		content: '';
		display: block;
		height: 1px;
		background: $color-tinted-lighter;
		flex-grow: 1;
		flex-basis: 50%;
	}
}

.l-restrain {
	margin-left: auto;
	margin-right: auto;
	width: 80vw;
	max-width: 64rem;
}

.l-section {
	margin-top: $margin-l;
	margin-bottom: $margin-l;
}


.l-subsection {
	margin-top: $margin-m;
	margin-bottom: $margin-m;
}

.l-area {
	padding-top: $margin-l;
	padding-bottom: $margin-l;
	background-color: $color-tinted-lighter;
}

.l-section,
.l-subsection,
.l-area {

	> :first-child,
	> .l-restrain > :first-child {
		margin-top: 0;
	}

	> :last-child,
	> .l-restrain > :last-child {
		margin-bottom: 0;
	}
}

.l-stacked {
	margin-bottom: 0;
}

[hidden] {
	display: none;
}

@media (min-width: $breakpoint-m) {
	.l-row {
		display: flex;
		margin: $margin-l / -2;

		.l-col {
			margin: $margin-l / 2;
		}
	}
}