.c-article-header {
	position: absolute;
	width: 80%;
	top: 45vh;
	max-width: 1000px;
	transform: translateY(-50%);
	color: $color-heading;

}

.c-article-content {
	margin-top: 100vh;

	p {
		max-width: 40em;
	}
}

.c-article-date {
	display: block;
	margin-top: .5em;
}

.c-article-main {
	margin: 3em 0;
}

.c-article-footer {

	h2, h3 {
		@include sans-bold;
	}
}

.c-article-comments {

	[data-module='ui/Mentions'] > :first-child:last-child,
	.c-mention-content {
		font-family: 'Caveat', sans-serif;
		font-size: 1.15em;
	}
}

[data-module="ui/TextReveal"] > span {
	vertical-align: bottom;
}