.c-article-teaser-link {
	@include title;
	display: block;
	font-size: calc(#{em(28px)} + 1.5vmin);
	line-height: 1.05;
	color: $color-heading;
	text-decoration: none;

	+ * {
		margin-top: .5em;
	}
}