.c-blockquote {

	margin: $margin-l 0;

	blockquote {
		@include serif;
		position: relative;
		margin: 0;
		margin-bottom: rem(8px);
		color: $color-accent-alpha-2;
		font-size: calc(2.5em + .5vw);
		line-height: 1.3;
	}

	figcaption {
		font-family: 'Caveat', serif;

		&:before {
			content: '\2014 ';
			margin-right: .25em;
		}
	}

	&.large blockquote {
		font-size: calc(1.66em + .5vw);
	}
}