@mixin btn-reset {
	background: transparent;
	border: none;
	color: $color-accent-alpha;
	appearance: none;
	cursor: pointer;
	padding: 0;
}

.btn {
	@include btn-reset;
	@include sans-bold;
	display: inline-block;
	padding: .33em 1.25em;
	box-shadow: inset 0 0 0 0 white;
	background-color: $color-accent-alpha;
	background-image: linear-gradient(45deg, $color-accent-alpha, $color-accent-alpha-1);
	transition: transform $pace-fast;
	color: white;
	border-radius: 1px;

	&:hover {

	}

	&:active {
		transform: translateY(2px);
	}

	&:focus {
		outline: 0;
	}

}

.btn-reset {
	@include btn-reset;
}

.btn-subscribe {
	position: relative;

	&:after {
		@include sans;
		content: '1';
		display: block;
		position: absolute;
		top: .3rem;
		right: .5rem;
		font-size: .5em;
		width: 1rem;
		height: 1rem;
		line-height: 1rem;
		text-align: center;
		text-indent: -1px;
		background-color: mix($color-accent-alpha, $color-accent-alpha-1);
		color: white;
		border-radius: 50%;
	}
}