.c-cms-popup {

	position: fixed;
	z-index: 999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2em;
	box-shadow: -2px 2px 5px rgba(black, .125);
	background-color: white;

	&[aria-hidden=true] {
		display: none;
	}

	&-close {
		display: block;
		position: absolute;
		top: 1em;
		right: 1em;
		transform: translate(-50%, -50%);
		text-decoration: none;
		color: red;
		cursor: pointer;
	}
}
