p code {
	padding-left: .2em;
	padding-right: .2em;
}

/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+glsl+json+scss */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

pre code {
	display: block;
	overflow-x: auto;
	padding: $margin-s;
	color: #333;
	background: #f8f8f8;

	@media (min-width: $breakpoint-s) {
		padding: $margin-m;
		margin-left: -$margin-m;
		margin-right: -$margin-m;
	}
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

.token {
	&.comment,
	&.prolog,
	&.doctype,
	&.cdata {
		color: $color-tinted;
	}

	&.punctuation {
		color: $color-tinted;
	}

	&.property,
	&.tag,
	&.boolean,
	&.number,
	&.constant,
	&.symbol,
	&.deleted {
		color: #905;
	}

	&.selector,
	&.attr-name,
	&.string,
	&.char,
	&.builtin,
	&.inserted {
		color: #690;
	}

	&.operator,
	&.entity,
	&.url,
	.language-css &.string,
	.style &.string {
		color: $color-tinted;
		background: hsla(0, 0%, 100%, .5);
	}

	&.atrule,
	&.attr-value,
	&.keyword {
		color: #07a;
	}

	&.function {
		color: #d04663;
	}

	&.regex,
	&.important,
	&.variable {
		color: #e90;
	}

	&.important,
	&.bold {
		font-weight: bold;
	}
	&.italic {
		font-style: italic;
	}

	&.entity {
		cursor: help;
	}
}

.namespace {
	opacity: .7;
}