.c-footer {
	position: relative;
	font-size: .75em;
	//margin-top: $margin-l * 2;
	padding: 1px 0;
	border-top: 1px solid $color-tinted-light;

	.t-templates-index & {
		border-top: 0;
	}

	&-col {

	}
}