.c-graph {
	position: relative;
	font-family: monospace;
	margin: $margin-l 0;

	&-container {
		position: relative;
		width: 100%;
		height: 60vmin;
		margin-bottom: 2em;

		span {
			width: 1em;
			height: 1em;
			line-height: 1;
			text-align: center;
		}
	}

	&-inputs {
		display: flex;
		font-family: monospace;
		font-size: .75rem;
		margin: #{$margin-m / -2};
		transform: translateY(-$margin-l + $margin-s);

		> * {
			display: block;
			flex: 0 1 18rem;
			margin: $margin-m / 2;
		}
	}

	&-legend div {
		font-size: .75rem;
		line-height: 2;
		display: flex;
		box-shadow: inset 0 0 0 100px white;

		&:before {
			content: '';
			flex: 0 0 auto;
			display: block;
			width: 1rem;
			height: 2px;
			margin-top: .75rem;
			margin-right: 1rem;
			transform: translateY(-1px);
			background-color: inherit;
		}
	}

	&-canvas {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&-range {
		position: absolute;
		top: -.5em;
		bottom: -5em;
		left: 0;
		height: calc(100% + 1em);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		transform: translateX(-100%);

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: .5em;
			bottom: .5em;
			right: 0;
			width: 1px;
			background-color: $color-tinted;
		}

		span {
			margin-right: .5em;
		}

		&-label {
			font-size: .75rem;
			position: absolute;
			right: .675rem;
			top: 2rem;
			transform: rotate(-90deg) translateY(-100%);
			transform-origin: 100% 0;
			white-space: nowrap;

			&:after {
				@include sans;
				content: ' \2192';
			}
		}
	}

	&-domain {
		position: absolute;
		left: -.5em;
		right: -.5em;
		bottom: 0;
		width: calc(100% + 1em);
		display: flex;
		justify-content: space-between;
		transform: translateY(100%) translateY(-1px);

		&:after {
			content: '';
			display: block;
			position: absolute;
			left: .5em;
			right: .5em;
			top: 0;
			height: 1px;
			background-color: $color-tinted;
		}

		span {
			margin-top: .5em;
		}

		&-label {
			font-size: .75rem;
			position: absolute;
			transform-origin: 0% 100%;
			right: 2rem;
			top: .675rem;

			&:after {
				@include sans;
				content: ' \2192';
			}
		}
	}
}