.c-home-link {
  position: fixed;
  left: calc(50% - 40vw);
  max-width: 64rem;
  top: 5vh;
  font-size: .75em;
  animation: appear 1s ease-out;
  color: $color-tinted-dark;
  transition: .2s ease-in-out;

  &:hover {
    color: $color-accent-alpha;
  }
  
  @media (min-width: 80rem) {
    left: calc(50% - 32rem);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
}