.c-intro {
	@include sans-large;
	font-size: 1.25em;

	@media (min-width: 25em) {
		font-size: calc(#{em(22px)} + 1vmin);
	}
}

.c-first-p {
	@include sans-bold;
	font-size: 1.25em;
	max-width: 90%;
	margin-bottom: 0;
	color: $color-heading;
}