.c-js-graphic {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 100vh;
	z-index: -1;
	margin: 0;
	overflow: hidden;
	margin-bottom: -45vw;
	animation: scale-in .35s .35s $ease-out backwards;

	&:before {
		content: '';
		position: absolute;
		left: calc(50% - 1px);
		width: 2px;
		height: 4vh;
		bottom: 6.75vh;
		background-color: $color-heading;
		animation: scroll 4s cubic-bezier(0.77, 0, 0.175, 1) infinite both;
	}

	&:after {
		content: 'Interact, then scroll';
		position: absolute;
		left: 50%;
		bottom: 12vh;
		color: $color-tinted;
		text-align: center;
		transform: translateX(-50%);
		font-size: .75em;
	}

	canvas {
		
	}
}

@keyframes scroll {
	0%,60% {
		transform: scaleY(0);
		transform-origin: 0 0;	
	}
	80% {
		transform: scaleY(1);
		transform-origin: 0 0;
	}
	80.000001% {
		transform: scaleY(1);
		transform-origin: 100% 100%;	
	}
	100% {
		transform: scaleY(0);
		transform-origin: 100% 100%;	
	}
	
}