.c-mention {
	position: relative;
	padding-left: 3rem + $margin-s;

	&-avatar {
		position: absolute;
		left: 0;
		top: .25rem;
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
	}

	&-author a {
		color: $color-heading;
	}

	[data-state=loading] & {
		opacity: 0;
	}

	[data-state=complete] & {
		opacity: 1;
		transition: opacity $pace-normal;
	}
}
