.c-mentions {
  
}

.c-mentions-summary {
  margin: .5em 0;
  line-height: 1;

  .c-mention-avatar {
    position: static;
    width: 1.25em;
    height: 1.25em;
    margin-bottom: -.25em;
    margin-right: .5em;
  }

  .c-mention-avatar + .c-mention-avatar {
    margin-left: -1em;
  }

}