@mixin track {
	width: 100%;
	height: 1px;
	cursor: pointer;
	background: $color-tinted;
}

@mixin thumb {
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
	background: white;
	cursor: pointer;
	appearance: none;
	box-shadow: inset 0 0 0 2px $color-accent-beta, 1px 0 5px $color-tinted-lighter;
}

input[type=range] {

	appearance: none;
	margin: 1rem 0;
	width: 100%;

	&:focus {
		outline: none;
	}

	&::-webkit-slider-runnable-track {
		@include track;
	}

	&::-webkit-slider-thumb {
		@include thumb;
		transform: translateY(-50%);
	}

	&:focus::-webkit-slider-runnable-track {
		background: $color-tinted;
	}

	&::-moz-range-track {
		@include track;
	}

	&::-moz-range-thumb {
		@include thumb;
	}

	&::-ms-track {
		@include track;
		background-color: transparent;
		color: transparent;
	}

	&::-ms-fill-lower {
		background: $color-tinted;
	}

	&::-ms-fill-upper {
		background: $color-tinted;
	}

	&::-ms-thumb {
		@include thumb;
	}

	&:focus::-ms-fill-lower {
		background: $color-tinted;
	}

	&:focus::-ms-fill-upper {
		background: $color-tinted;
	}

}