.c-tweet {
	margin-bottom: 4em;
	font-size: .8em;

	a {
		color: $color-twitter;
	}

	&-heading {
		@include sans-bold;
		font-size: 1.2em;
		margin-bottom: .5em;

		a {
			color: inherit;
			text-decoration: none;

			&:hover,
			&:focus {
				color: $color-twitter;
			}
		}

		+ * {
			margin-top: 0;
		}

		&-retweet {
			color: $color-accent-beta;
		}
	}

}