<article class='c-article l-restrain'>

    <header class="c-article-header">
        <h1 class='title' data-cms-property='title' data-cms-placeholder='Post title' {{#unless
                loggedin }}data-module="ui/TextReveal" data-delay="1000"{{/unless}}>
            {{ title }}
        </h1>
        <p class='c-intro' data-cms-property='intro' data-cms-placeholder='Intro text' {{#unless
                loggedin }}data-module="ui/TextReveal" data-delay="1150" data-interval="50"{{/unless}}>
            {{ message }}
        </p>
    </header>

    <code>
        <pre>{{ stack }}</pre>
    </code>

</article>