<div class="l-restrain h-feed">

    <span hidden class="p-author h-card scr">
        <img class="u-photo" src="//peeke.nl/profile.jpg" alt=""/>
        <a class="p-name u-url" href="//peeke.nl">Peeke Kuepers</a>
        <a href="https://twitter.com/peeke__" rel="me">@peeke</a>
    </span>

    <a href="/" class="scr a-url"></a>

    <div class="l-section">

        <h1 class="t-site-title p-name">{{ pageTitle }}</h1>

        {{#if loggedin }}
            {{# each articles }}{{> components/article_teaser }}{{/ each }}
        {{ else }}
            {{# each articles }}{{> client_components/article_teaser }}{{/ each }}
        {{/if }}

    </div>

</div>