<style>
    * {
        transition-duration: .1s !important;
        transition-delay: 0s !important;
        animation-duration: .1s !important;
        animation-delay: 0s !important;
        transform: none !important;
    }
</style>
<script src="https://cdn.auth0.com/js/lock/10.0/lock.min.js"></script>
<script type="text/javascript">
    var lock = new Auth0Lock('qbQfzjYZWtuuZPu66gMwC4V79HywgPM8', 'peeke.eu.auth0.com', {
        auth: {
            redirectUrl: location.protocol + '//' + location.host + '/auth/handle',
            responseType: 'code',
            params: {
                allowSignup: false,
                scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
            }
        }
    })
    lock.show()
</script>