<div class="l-restrain l-section">

    <h1 class="title">Mentions</h1>
    <p class="subtitle">For {{ url }}</p>

    <div class="l-mentions">
        <div class="c-mentions">

            <div class="c-mentions-summary">
                {{# each mentions.likes.first }}
                <img class="c-mention-avatar" src="{{ author.photo }}" alt="">
                {{/ each }}
                {{ mentions.likes.count }} likes 
            </div>

            <div class="c-mentions-summary">
                {{# each mentions.retweets.first }}
                <img class="c-mention-avatar" src="{{ author.photo }}" alt="">
                {{/ each }}
                {{ mentions.retweets.count }} retweets
            </div>

            {{# if mentions.comments }}
                {{# each mentions.comments }}
                    {{> "client_components/mention" }}
                {{/ each }}
            {{ else }}
                <p>No mentions yet.</p>
            {{/if}}

        </div>
    </div>

</div>