<article
         class='c-article h-entry'>

    <div class="l-restrain l-section">

        {{#if @loggedin }}

        <div class="c-cms-popup" aria-hidden="true" data-module="cms/Popup" data-trigger=".popup-trigger-{{ id }}">
            <dl>
                <dt>Slug</dt>
                <dd>{{ slug }}</dd>
                <dt>Syndication links</dt>
                <dd>{{ syndicationLinks }}</dd>
                <dt>Published</dt>
                <dd>
                    <input type='checkbox' value='yes' {{#if published }} checked {{/if}}>
                </dd>
                <dt>Pushed</dt>
                <dd>

                    {{#if pushed }}
                        Article was pushed into the world!
                    {{else}}
                        {{#if published }}
                            <form action="/api/push/article/{{ id }}">
                                <button>Push!</button>
                            </form>
                        {{else}}
                            Publish & reload to arm <strong>push</strong>
                        {{/if}}
                    {{/if}}

                </dd>
            </dl>

            <div>
                <input class="c-toggle" id="delete" type="checkbox">
                <label for="delete">Delete?</label>
                <span class="c-toggle-active"><a href="/?action=delete&type={{ type }}&id={{ id }}">Yes, delete!</a></span>
            </div>

            <button class="c-cms-popup-close btn-reset popup-trigger-{{ id }}" data-module="cms/Reload" data-area="#c-graph-{{ id }}">&times;</button>

        </div>

        <button class="btn-reset popup-trigger-{{ id }}">&#9881;&nbsp;&nbsp;meta gegevens</button>

        {{/if }}

        <header class="c-article-header p-summary">
            <h1 class='title p-name' {{#unless loggedin }}data-module="ui/TextReveal" data-delay="0"{{/unless}}>{{{ title }}}</h1><span class="scr">:</span>
            <p class='c-intro' {{#unless loggedin }}data-module="ui/TextReveal" data-delay="150" data-interval="50"{{/unless}}>{{ subtitle }}</p>
        </header>

        {{#if @loggedin }}
            <p>visuals/<span>{{ visual }}</span></p>
        {{/if }}
        {{#if visual }}
            <figure class="c-js-graphic" data-module="visuals/{{ visual }}"></figure>
        {{/if }}

        <div class='c-article-content content'>

            <p class="c-first-p">{{ intro }}</p>

            <span class="p-author h-card scr">
                <img class="u-photo" src="//peeke.nl/profile.jpg" alt=""/>
                <a class="p-name u-url" href="//peeke.nl">Peeke Kuepers</a>
            </span>

            {{# each syndicationLinks }}
                <a href="{{ this }}" class="u-syndication" hidden>{{ this }}</a>
            {{/ each }}

            <small class="c-article-date">
                (Re)published on
                <time class="dt-published" datetime="{{ datetime }}">
                    {{ date }}
                </time>
            </small>

            <div class="c-article-main e-content">
                {{# each components }}

                    {{#if @loggedin }}
                        {{> (resolve this "components") }}
                    {{ else }}
                        {{> (resolve this "client_components") }}
                    {{/if }}

                {{/ each }}
            </div>

        </div>

    </div>

    {{# if feature }}

    <footer class="l-section l-area l-stacked">
        <div class="l-restrain">
            <strong>Contact me</strong>
            <p>Email me at <a href="mailto:peekuep@gmail.com">peekuep@gmail.com</a> or give me a call on +31 (0)6 42894192.</p>
        </div>
    </footer>

    {{ else }}

    <footer class="l-section l-area">
        <div class="l-restrain">

            <strong>Liked this article?</strong>
            <p>Why not follow me on <img src="/media/twitter.svg" alt="" class="icon-inline"> Twitter? <a href="//twitter.com/peeke__" rel="me">@peeke__</a>.</p>
            <div data-subscribe hidden>
                <p>Or subscribe to push notifications and receive a notication when a new one goes up!</p>
                <div><button class="btn btn-subscribe">Subscribe</button></div>
            </div>

        </div>
    </footer>

    <aside class="c-article-comments">

        <div class="l-restrain l-section">

            <h2 class="h3">Mentions</h2>
            <div data-module="ui/Mentions"></div>
            {{# if mainSyndicationLink }}
                <p>Comment by replying to <a href="{{ mainSyndicationLink }}">this tweet</a> or mention the url of this post in your message.</p>
            {{ else }}
                <p>Mention the url of this post in a tweet to comment!</p>
            {{/if}}

        </div>

    </aside>

    {{/ if }}

</article>