<article class="c-article-teaser l-section h-entry">

    <a class="c-article-teaser-link p-name" href="/{{ slug }}" data-module="ui/TextReveal" data-delay="500" data-interval="50">{{ title }}</a>
    <p data-module="ui/TextReveal" data-delay="550" data-interval="30">{{ subtitle }}</p>

    <p hidden class="p-summary scr">{{ title }}: {{ subtitle }}</p>

    <span hidden class="p-author h-card scr">
        <img class="u-photo" src="//peeke.nl/profile.jpg" alt=""/>
        <a class="p-name u-url" href="//peeke.nl">Peeke Kuepers</a>
    </span>

    {{# each syndicationLinks }}
        <a href="{{ this }}" class="u-syndication" hidden>{{ this }}</a>
    {{/ each }}

    <span hidden>
        (Re)published on
        <time class="dt-published" datetime="{{ datetime }}">
            {{ date }}
        </time>
    </span>

    {{#if @published }}{{#if @loggedin }}<strong>Gepubliceerd</strong>{{/if}}{{/if}}

</article>