<div>

    

    <figure id="c-graph-{{ id }}" class="c-graph"
            data-module="ui/graph/Graph"
            {{# domain }}data-domain="{{ this }}"{{/domain}}
        {{# domainLabel }}data-domain-label="{{ this }}"{{/domainLabel}}
        {{# range }}data-range="{{ this }}"{{/range}}
        {{# rangeLabel }}data-range-label="{{ this }}"{{/rangeLabel}}
        {{# fns }}data-fns="{{{ this }}}"{{/fns}}
        {{# ruler }}data-ruler="{{ this }}"{{/ruler}}
        {{# colors }}data-colors="{{ this }}"{{/colors}}
            data-legend="{{#if legend }}true{{ else }}false{{/if }}"
            data-animated="{{#if animated }}true{{ else }}false{{/if }}"
            data-inputs="#inputs-{{ id }} input"></figure>

    

    <div id="inputs-{{ id }}"{{#unless @loggedin }}class="c-graph-inputs"{{/unless}}
        >
        {{# each inputs }}

            {{#if @loggedin }}
                {{> (resolve this "components") }}
            {{ else }}
                {{> (resolve this "client_components") }}
            {{/if }}

        {{/ each }}
    </div>
</div>
