<article class="c-mention l-subsection">

    <img class="c-mention-avatar" src="{{ author.photo }}" alt="">
    
    <strong class="c-mention-author">
        {{# if author.url }}
            <a href="{{ author.url }}">{{ author.name }}</a>
        {{ else }}
            <span>{{ author.name }}</span>
        {{/ if }}
    </strong>

    <div class="c-mention-content">
        {{{ content }}}
    </div>

    {{# if url }}
        <small class="c-mention-backlink"><a href="{{ url }}" target="_blank">Open &rarr;</a></small>
    {{/ if }}

</article>