$color-text: #222;
$color-heading: #231f34;
$color-heading-lighter: #44396e;

$color-accent-alpha: #ee1864;
$color-accent-beta: #12d5a5;
$color-twitter: #0099e5;

$color-accent-alpha-1: #fff19c;
$color-accent-alpha-2: #ee1864;
$color-accent-alpha-3: #231f34;

$color-code-alpha: desaturate($color-accent-alpha, .5);
$color-code-beta: desaturate($color-accent-beta, .5);
$color-code-gamma: #49326e;
$color-code-delta: #ffdb5d;

$color-tinted-lighter: rgba(black, .033);
$color-tinted-light: rgba(black, .125);
$color-tinted: rgba(black, .25);
$color-tinted-dark: rgba(black, .4);