$pace-fast: .15s;
$pace-normal: .35s;
$pace-slow: .65s;

$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);
$ease-out: cubic-bezier(0.23, 1, 0.32, 1);
$ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);