<!DOCTYPE html>
<html lang="en" data-module="ui/Main">
<head>

    {{> 'includes/document_head' }}

</head>
<body {{# loggedin }} data-module='cms/Cms' {{/ loggedin }} class="t-{{ sanitize template }}">

<header class="scr">
    <h1>Peeke.nl</h1>
</header>

{{# unless isHome }}
<a href="/" class="c-home-link">Home</a>
{{/ unless }}

<main>{{> (lookup . 'template') }}</main>

{{> 'includes/page_footer' }}

</body>
</html>